*{
    font-family: 'Times New Roman', Times, serif;
    
}

.footer{
    height: 50px;
    border-top: 1px solid whitesmoke;
}

.footer>.footer-text-1{
    margin-top: 10px;
}

.footer>.footer-text-2{
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}

.footer>.sm-logos{
    cursor: pointer;    
    margin-top: 12px;    
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    gap: 20px;

}


@media only screen and (max-width: 400px) {
    .footer{
        height: 85px;
        flex-direction: column;
    }

    .footer>.footer-text-1{
        font-size: 0.92rem;
    }

    .footer>.sm-logos{
        margin-top: -17px;
        
    }
    .footer>.footer-text-2{
        text-align: center;
        margin-top: 10px;
    }
}
